*{
    margin: 0;
    padding: 0;
}
li{
    text-align:center;
}
body{
      background-color: brown;
      text-align: center;
}
table, th, td {
    border:1px solid black;
    margin: 0 auto;
  }
h1{
    background-color: black;
    color: white;
    margin-bottom: 5px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav a {
    display: inline-block;
    margin: 5px 5px;
    text-decoration: none;
    color:white;
  }
  
  nav a:hover {
    color:green;
  }

h2{
    background-color:black ;
    color: white;
 }
 h3{
    color: white;
 }
footer{
    background-color: blue;
    color: white;
    padding: 2px;
}
button{
    background-color: green;
    color: white;
    border: none;
    padding: 2px;
}
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: black
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 18px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
